*{
    box-sizing: border-box;
}

h1{
    margin-bottom: 15px;
    text-align: center;
}

/*Simple responsive Framework*/
.row {
    width: 100%;
}

/*Large devices only*/
@media (min-width: 992px) {
    

}